<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="winners">
      <ion-icon name="trending-up-outline"></ion-icon>
      <ion-label>Winners</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="loosers">
      <ion-icon name="trending-down-outline"></ion-icon>
      <ion-label>Loosers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="watchlist">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Watchlist</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
